form{
    display: flex;
    background-color: rgb(35, 6, 167);
}
form label{
    display: inline-block;
    width: 15rem;
    padding: 0.3rem;
    background-color: azure;
    margin-bottom: 0.3rem;
    margin: 10px;
}
body{
    background-image: url(imagens/deadcells-paisagem.webp);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
main{
    text-align: center;
}